#{extends 'main.html' /}
#{set title:'Add Feed' /}

<ul class="breadcrumb">
    <li><a href="@{Galaxies.index()}">Galaxies</a><span class="divider">:</span></li>
    <li><a href="@{Galaxies.read(galaxy.id)}">${galaxy.name}</a><span class="divider">/</span></li>
    <li><a href="@{Feeds.index(galaxy.id)}">Feeds</a><span class="divider">:</span></li>
    <li>Add</li>
</ul>

#{bsForm action:@Feeds.createPost(galaxy.id), actionText:'Add Feed'}
#{bsInputText name:'name',desc:'Name' /}
#{bsInputText name:'url',desc:'URL' /}
#{/bsForm}
