#{extends 'main.html' /}
#{set title:'Feeds' /}

<ul class="breadcrumb">
    <li><a href="@{Galaxies.index()}">Galaxies</a><span class="divider">:</span></li>
    <li><a href="@{Galaxies.read(galaxy.id)}">${galaxy.name}</a><span class="divider">/</span></li>
    <li>Feeds</li>
</ul>

<div class="row">
    <div class="span8">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Feed name</th>
                </tr>
            </thead>
            <tbody>
                #{list items:feeds,as:'feed'}
                <tr>
                    <td><a href="@{Feeds.read(galaxy.id,feed.id)}">${feed.name}</a></td>
                </tr>
                #{/list}
            </tbody>
        </table>
    </div>
    <div class="span4">
        <a class="btn" href="@{Feeds.create(galaxy.id)}">Add Feed</a>
    </div>
</div>