#{extends 'main.html' /}
#{set title:feed.name /}

<ul class="breadcrumb">
    <li><a href="@{Feeds.index()}">Feeds</a><span class="divider">:</span></li>
    <li>${feed.name}</li>
</ul>

#{list items:entries,as:'entry'}
<div class="row">
    <div class="span10">
        <h3><a href="${entry.uri}">${entry.title}</a></h3>
        <p style="text-align: justify">${entry.textContent}</p>
    </div>
    <div class="span2">
        <a class="btn" href="#">Deactivate</a>
    </div>
</div>
<hr/>
#{/list}