#{extends 'main.html' /}
#{set title:'Add Category' /}

<ul class="breadcrumb">
    <li><a href="@{Galaxies.index()}">Galaxies</a><span class="divider">:</span></li>
    <li><a href="@{Galaxies.read(galaxy.id)}">${galaxy.name}</a><span class="divider">/</span></li>
    <li><a href="@{Sites.index(galaxy.id)}">Sites</a><span class="divider">:</span></li>
    <li><a href="@{Sites.read(galaxy.id, site.id)}">${site.name}</a><span class="divider">/</span></li>
    <li><a href="@{Categories.index(galaxy.id,site.id)}">Categories</a><span class="divider">:</span></li>
    <li>Add</li>
</ul>

#{if category == null}

#{bsForm action:@Categories.createPost(galaxy.id, site.id), actionText:'Add Root Category'}
#{bsInfo name:'galaxy', desc:'Galaxy', info:galaxy.name /}
#{bsInfo name:'site', desc:'Site', info:site.name /}
#{bsInputText name:'name',desc:'Name' /}
#{bsTextArea name:'description',desc:'Description' /}
#{/bsForm}

#{/if}
#{else}

#{bsForm action:@Categories.createPost(galaxy.id, site.id, category.id), actionText:'Add Category'}
#{bsInfo name:'galaxy', desc:'Galaxy', info:galaxy.name /}
#{bsInfo name:'site', desc:'Site', info:site.name /}
#{bsInfo name:'parent', desc:'Parent category', info:category.name /}
#{bsInputText name:'name',desc:'Name' /}
#{bsTextArea name:'description',desc:'Description' /}
#{/bsForm}

#{/else}

