#{extends 'main.html' /}
#{set title:category.name /}

<ul class="breadcrumb">
    <li><a href="@{Galaxies.index()}">Galaxies</a><span class="divider">:</span></li>
    <li><a href="@{Galaxies.read(galaxy.id)}">${galaxy.name}</a><span class="divider">/</span></li>
    <li><a href="@{Sites.index(galaxy.id)}">Sites</a><span class="divider">:</span></li>
    <li><a href="@{Sites.read(galaxy.id, site.id)}">${site.name}</a><span class="divider">/</span></li>
    <li><a href="@{Categories.index(galaxy.id, site.id)}">Categories</a><span class="divider">:</span></li>
    <li>${category.name}</li>
</ul>

${category.description}
<p><a href="@{Pages.index(galaxy.id,site.id,category.id)}">Pages</a></p>
<div class="row">
    <div class="span8">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Subcategory</th>
                </tr>
            </thead>
            <tbody>
                #{list items:categories,as:'subcategory'}
                <tr>
                    <td><a href="@{Categories.read(galaxy.id, site.id, subcategory.id)}">${subcategory.name}</a></td>
                </tr>
                #{/list}
            </tbody>
        </table>
    </div>
    <div class="span4">
        <a class="btn" href="@{Categories.create(galaxy.id, site.id, category.id)}">New Category</a>
    </div>
</div>