#{extends 'main.html' /}
#{set title:'Add Site' /}

<ul class="breadcrumb">
    <li><a href="@{Galaxies.index()}">Galaxies</a><span class="divider">:</span></li>
    <li><a href="@{Galaxies.read(galaxy.id)}">${galaxy.name}</a><span class="divider">/</span></li>
    <li><a href="@{Sites.index(galaxy.id)}">Sites</a><span class="divider">:</span></li>
    <li>Add</li>
</ul>

#{bsForm action:@Sites.createPost(galaxy.id), actionText:'Add Site'}
#{bsInfo name:'galaxy', desc:'Galaxy', info:galaxy.name /}
#{bsInputText name:'name',desc:'Name' /}
#{bsInputText name:'domain',desc:'Domain' /}
#{bsInputText name:'analyticsAccount',desc:'Google Analytics Account' /}
#{/bsForm}