#{extends 'main.html' /}
#{set title:site.name /}

<ul class="breadcrumb">
    <li><a href="@{Galaxies.index()}">Galaxies</a><span class="divider">:</span></li>
    <li><a href="@{Galaxies.read(galaxy.id)}">${galaxy.name}</a><span class="divider">/</span></li>
    <li><a href="@{Sites.index(galaxy.id)}">Sites</a><span class="divider">:</span></li>
    <li>${site.name}</li>
</ul>

<div class="btn-group">
    <a class="btn" href="@{Categories.index(galaxy.id,site.id)}">Manage Categories</a>
</div>

<h1>${site.name}</h1>
#{info label:'Today hits', value:models.Hit.today(site) /}
#{info label:'Google Analytics Account', value:site.analyticsAccount /}
#{info label:'Google AdSense Reference', value:site.adSenseRef /}
