#{extends 'main.html' /}
#{set title:'Add Site' /}

<ul class="breadcrumb">
    <li><a href="@{Galaxies.index()}">Galaxies</a><span class="divider">:</span></li>
    <li><a href="@{Galaxies.read(galaxy.id)}">${galaxy.name}</a><span class="divider">/</span></li>
    <li><a href="@{Sites.index(galaxy.id)}">Sites</a><span class="divider">:</span></li>
    <li><a href="@{Sites.read(galaxy.id,site.id)}">${site.name}</a><span class="divider">:</span></li>
    <li>Update</li>
</ul>

#{bsForm action:@Sites.updatePost(galaxy.id,site.id), actionText:'Update Site'}
#{bsInfo name:'galaxy', desc:'Galaxy', info:galaxy.name /}
#{bsInputText name:'name',desc:'Name' /}
#{bsInputText name:'domain',desc:'Domain' /}
#{bsInputText name:'analyticsAccount',desc:'Google Analytics Account' /}
#{bsInputText name:'adSenseRef',desc:'Google AdSense Reference' /}
#{bsInputText name:'disqusShortname',desc:'Disquq Shortname' /}
#{/bsForm}
